* {
    margin: 0;
    padding: 0;
}


body,html {
    height: 100%;
}

#kilo>pre {
    font-size: 60pt;
}

#kilo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}